div.annotator {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    list-style:none;
    background:white;
}

div.annotator #legendColsText:hover {
    font-weight:bold;
    cursor:hand;
}

div.annotator #seqLabels:hover{
    cursor:hand;
    font-weight:bold;
}

#arrow {
    content: ' ';
    display: block;
    position: absolute;
    left: 20px;
    top: -4px;
    width: 10px;
    height: 10px;
    background-color:#333333;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

#menu, #tooltip {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    list-style:none;
    background:#333333;
    margin:0;
    padding:9px 0px 9px 0px;
    border:0;
    display:inline-block;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    position:relative;
}

#menu > li, #tooltip {
    font-size:11pt;
    font-family:Arial;
    color:#E3E3E3;
    padding:3px 15px 3px 15px;
}

#menu > li + li, #menu > li:first-child {
    border-top: solid 1px #696969;
}

#menu > li:last-of-type {
    border-bottom: solid 1px #696969;
}

#menu > li:hover {
    background:#8A0000;
    cursor:hand;
}

#buttonA {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    padding:2px 10px 2px 10px;
    background:#333333;
    text-decoration:none;
    font-family:Arial;
    font-size:11pt;
    color:#E3E3E3;
    border: 1px solid #292929;
    position:absolute;
}

#buttonA:hover {
    color:white;
}

#textA {
    font-family:Arial;
    font-size:10pt;
}

#navigation {
    top:5px;
    left:5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    background:#333333;
    list-style:none;
    position:relative;
    margin:0;
    padding:5px 5px 5px 5px;
    border:0;
}

#navigation > li {
    display:inline;
    font-size:10pt;
    font-family:Arial;
    color:#E3E3E3;
    padding:3px 8px 3px 8px;
}

#navigation > li + li {
    border-left: solid 1px #696969;
}

#navigation > li:not(:first-child):hover {
    background:#8A0000;
    cursor:hand;
}

#status {
    position:fixed;
    background:#FCF3A9;
    border:1px solid #BDBDBD;
    padding:2px 2px 2px 2px;
    font-family:Arial;
    font-size:9pt;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    z-index:10000;
}