div.annotator {
    background:white;
}

div.annotator #legendColsText:hover {
    font-weight:bold;
    cursor:pointer;
}

div.annotator #seqLabels:hover{
    cursor:pointer;
    font-weight:bold;
}

#arrow {
    content: ' ';
    display: block;
    position: absolute;
    left: 20px;
    top: -4px;
    width: 10px;
    height: 10px;
    background-color:#365791;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

#colorpicker {
    position:relative;
    z-index:2000;
    width:90px;
    height:80px;
    background:#365791;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
}

#picker {
    width: 60px; 
    height: 60px;
    position:absolute;
    top:10;
    left:10;
}

#slide {
    width: 10px; 
    height: 60px;
    position:absolute;
    top:10;
    left:70;
}

#menu, #tooltip {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    list-style:none;
    border:1px solid #9FB8CC;
    background:#365791;
    margin:0;
    padding:8px 0px 8px 0px;
    display:inline-block;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    position:relative;
}

#menu > li, #tooltip {
    font-size:11pt;
    font-family:Arial;
    color:#E3E3E3;
    padding:3px 15px 3px 15px;
}

#menu > li + li, #menu > li:first-child {
    border-top: solid 1px #C9C9C9;
}

#menu > li:last-of-type {
    border-bottom: solid 1px #C9C9C9;
}

#menu > li:hover {
    background:#8A0000;
    cursor:pointer;
}

#buttonA {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    padding:5px 10px 5px 10px;
    background:#365791;
    text-decoration:none;
    font-family:Arial;
    font-size:11pt;
    color:#E3E3E3;
    border: 1px solid #9FB8CC;
    position:absolute;
}

#buttonA:hover {
    color:white;
    background:#8A0000;
}

#textA {
    font-family:Arial;
    font-size:10pt;
}

#navigation {
    list-style:none;
    position:relative;
    margin:0;
    border:0;
}

#navigation > li {
    display:inline;
    font-size:10pt;
    font-family:Arial;
    color:#DBDBDB;
    padding:0px 7px 0px 7px;
    border-right: solid 1px #C9C9C9;
}

#navigation > li:first-child{
    border-left: solid 1px #C9C9C9;
}

#navigation > li:hover {
    color:white;
    cursor:pointer;
}

#status {
    position:fixed;
    background:#FFF9C9;
    border:1px solid #BDBDBD;
    padding:2px 15px 2px 15px;
    font-weight:bold;
    font-family:Arial;
    font-size:9pt;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 4px 10px rgba(0, 0, 0, .3);
    z-index:10000;
}

#navMenu {
    list-style:none;
    background:#C9C9C9;
    margin:0;
    padding:0px 0px 0px 0px;
    position:absolute;
    overflow:auto;
    border-bottom:3px solid #919191;
}
